*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Hind', sans-serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'Mukta', sans-serif;
}
.navbar{
    display: flex;
    justify-content: space-between;
background: url("../img/portfoliobg.jpg") no-repeat center center/cover;
    width: 100%;
    height: 100vh;
}
.navheader h2{
    font-size: 40px;
    text-align: center;
    color: aliceblue;
    cursor: pointer;
    font-family: 'Noto Serif', serif;
    
}
.navheader{
    padding: 3px 15px;
    margin: 0px 50px;
    margin-top: 42px;
    
}
span{
    color: red;
}
.nav-items li{
list-style-type:none;
display: inline-block;
}
.nav-items li a{
    text-decoration: none;
    display: inline-block;
    padding: 3px 5px;
    margin: 0px 20px;
    margin-top: 58px;
    color: aliceblue;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 18px;
}
.nav-items li a:hover{
    color: red;
    transition: 0.3s;

}
.btn button{
    color: aliceblue;
    background-color: red;
    border: 2px solid transparent;
    border-radius: 30px;
    padding: 10px 16px;  
    margin: 51px 37px;
    font-size: 15px;
    transition: 0.4s;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
}
.btn{
    margin: 1px 60px;
}
.btn button:hover{
    transform: scale(1.2);
}
.About{
    position: absolute;
    top:30%;
    left:5%;
    
}
.aboutme{
    
}
.aboutheader h4{
    color:rgb(200, 178, 215);
    font-size: 30px;
    font-family: 'Noto Serif', serif;
font-family: 'Source Serif Pro', serif;
}
.aboutheader h1{
    color: white;
    font-size: 70px;
    font-family: 'Hind', sans-serif;
    text-align: center;
    letter-spacing: 2px;
    
}
.aboutheader h3{
    color: aliceblue;
    font-size:30px;
    letter-spacing: 1px;
    font-family: 'Mukta', sans-serif;
}
form input[type="email"]{
    margin: 34px 5px;
    width: 60%;
    border: 2px solid red;
    border-radius: 20px;
    padding: 8px;
}
form input:placeholder-shown{
    padding: 8px 23px;
}
form input[type="submit"]{
    color: aliceblue;
    background-color: red;
    border: 2px solid transparent;
    border-radius: 30px;
    padding: 1px 13px;
    margin: 45px -120px;
    font-size: 15px;
    transition: 0.4s;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
}

form input[type="submit"]:hover{
    transform: scale(1.1);
}
.about{
    height: 830px;
}
.about-container{
    display: flex;
    background-color: rgb(43, 42, 42);
    max-width: 100%;
    margin: 0px auto;
    height: 830px;
    align-items: center;
    justify-content:space-around;
}
.main-img{
    height: auto;
    width: 430px;
}
.about-content{
    width: 550px; 
    height: 550px;
}
.about-content h1{
    color: aliceblue;
    font-size: 80px;
    font-family: 'Noto Serif', serif;
}
.about-content h3{
    color: aliceblue;
    font-size: 23px;
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 3px;
    line-height: 51px;
}
.about-content p{
    margin-top:12px ;
    color:rgb(200, 178, 215);
    font-size: 18px;
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 1px;
    line-height: 29px;
    text-align: justify;
}
.about-content button{
    color: aliceblue;
    background-color: red;
    border: 2px solid transparent;
    border-radius: 30px;
    padding: 10px 30px;  
    margin: 42px -4px;
    font-size: 15px;
    transition: 0.4s;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
}
.about-content button:hover{
    color: aliceblue;
    background-color: rgb(49, 46, 46);
    border: 2px solid red;
    border-radius: 30px;
}
.services{
    width: 100%;
    height:750px;
    background-color: rgb(19, 18, 18);
}
.service-container{
    display: flex;
    flex-direction: column;
    height:750px;
    align-items: center;
    
}
.service-header{
    margin-bottom: 30px;
}
.service-header h1{
    color: aliceblue;
    font-size: 80px;
    margin-top: 60px;
    
}

.service-content{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    width: 90%;

}
.service-content h3{
    color: aliceblue;
    font-size: 32px;
    margin: auto;
    display: block;
    width: 78%;
}
.service-content i{
    width: 45px;
    height: 70px;
    display: block;
    margin: 8px auto;
    margin-bottom: 3px;
    margin-top: 34px;
}
.card{
    width: 31%;
    background-color: rgb(39, 38, 38);
    border: 2px solid transparent;
    border-radius: 24px;
    height: 420px;
}
#demo{
    color: aliceblue;
    font-size: 32px;
    margin: auto;
    display: block;
    width: 55%;
}
.card p{
    text-align: justify;
    font-size: 15px;
    letter-spacing: 1px;
    color:rgb(200, 178, 215);
    margin: 1px 32px;
}
.card button{
    color: aliceblue;
    background-color: red;
    border: 2px solid transparent;
    border-radius: 30px;
    padding: 6px 21px;  
    margin: 23px auto;
    font-size: 15px;
    transition: 0.4s;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
    display: block;
}
.card button:hover{
    color: aliceblue;
    background-color: rgb(49, 46, 46);
    border: 2px solid red;
    border-radius: 30px;
}
.hire-box{
    display: flex;
    background-color: rgb(43, 42, 42);
    height: 300px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hire-box h3{
    color: aliceblue;
    font-size: 35px;
    letter-spacing: 1px;
    font-family: 'Ubuntu', sans-serif;
}
.hire-box button{
    color: aliceblue;
    background-color: red;
    border: 2px solid transparent;
    border-radius: 30px;
    padding: 10px 30px;  
    margin: 22px -4px;
    font-size: 15px;
    transition: 0.4s;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
    display: inline-block;
    font-size: 17px;
    font-weight: bolder;
    
}
.hire-box button:hover{
color: aliceblue;
background-color: rgb(49, 46, 46);
border: 2px solid red;
border-radius: 30px;
}
footer{
    width: 100%;
    height: 450px;
    background-color: rgb(19, 18, 18);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer h2{
    color: aliceblue;
    font-size: 35px;
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 1px;
}
footer p{
    color: aliceblue;
    font-size: 20px;
    width: 40%;
    text-align: center;
    margin-top: 22px;
    margin-bottom: 22px;
}
.foot-text{
    color: aliceblue;
    font-size: 15px;
    margin: 0px auto ;
    color: red;
    font-family: 'Ubuntu', sans-serif;
}
.social{
    margin: 10px 0px;
}
.social a{
    margin: 0px 10px;
    transition: 0.4s;
}
.social button{
    border: 2px solid transparent;
    border-radius: 20px;
    transition: 0.4s;
    background-color: transparent;
}
.social button:hover{
    transform: scale(1.3);
}
#last-text {
    width: 100%;
    text-align: center;
    align-self: end;
    margin-bottom: -26px;
    margin-top: 76px; 
    font-family: 'Ubuntu', sans-serif;
}
